<main>
  <div class='content'>
    <section class='copy'>
      <h2 class='copy__title'>Wait, what?</h2>
      <p>One day, I woke up and said to my alter ego: “I can create a programming language”. Now, I spend all nights reading about interpreters, compilers, parsers, and creating that programming language. Having a lot of troubles, of course, it is not an easy thing.</p>
    </section>
    <section class='copy'>
      <h2 class='copy__title'>— Changelog <em>(currently in development)</em></h2>
    </section>
    <section class='copy'>
      <p>Frankenstein has a nice sintax, and supports a lot of things. <a href='https://en.wiktionary.org/wiki/variable_binding' target='_blank'>Variable Bindings?</a> Yes! <a href='https://en.wikipedia.org/wiki/Higher-order_function' target='_blank'>High–Order</a> functions? Yes! <a href='https://en.wikipedia.org/wiki/Closure_(computer_programming)' target='_blank'>Closures?</a> Yes! <a href='https://en.wikipedia.org/wiki/Data_type' target='_blank'>Data Types?</a> Course yes!</p>
    </section>
    <section class='copy'>
      <h2 class='copy__title copy--subheading'><em>Which features does Frankenstein have?</em></h2>
      <ul class='copy__list'>
        <li class='copy__item'>
          <p>Frankenstein supports <span class='feature'>function literals</span> and we can use them to <span class='feature'>bind a function</span> to a name.</p>
        </li>
        <li class='copy__item'>
          <p>Data types like <span class='feature'>booleans</span>, <span class='feature'>strings</span>, <span class='feature'>hashes</span>, <span class='feature'>integers</span>, and <span class='feature'>arrays</span>.</p>
        </li>
        <li class='copy__item'>
          <p>Functions are <span class='feature'>first–class</span> citizen, treated like any other value. Use <span class='feature'>high–order</span> functions and pass functions around as values.</p>
        </li>
        <li class='copy__item'>
          <p>And, of course, <span class='feature'>closures</span>.</p>
        </li>
      </ul>
    </section>
  </div>
</main>
